// This is the base styles file

.Map_Controller {
	.row {
		&:after {
			content: "";
			clear: both;
			display: block;
		}
		.tile {
			background-size: 80px;
			display: inline-block;
			float: left;
			min-height: 100%;
			width: 80px;
		}
	}
}