@import 'mixins';
// This is the base styles file
$camera-size 				: 16;
$tile--width 				: 40px;
$tile--height				: $tile--width;

//react RenderDOM anchor element
#main {
	position: relative;
	height: 100%;
	width: 100%;

	.Map_Controller {
		@include centerer__horizontal;

		z-index: -1;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		//number of tiles * height of tiles
		height: $camera-size * $tile--height;

		// number of tiles * width of tiles
		width: $camera-size * $tile--width;



		// .map__row {
		// 	flex-basis: 100%;
		// 	height: $tile--height;




			.tile {

				background-size: $tile--width;
				display: inline-block;
				float: left;
				min-height: $tile--height;
				width: $tile--width;

				//If player is contained within a tile
				position: relative;
			}
		// }
	}
}